<div class="user-info">
  
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= image_tag @user.photo, class: 'img-circle prof-page-photo' %>
    </div>

    <div class="col-xs-12 col-sm-9">
      <div class="user-info-stats">
        <ul>
          <li>
            Number of Courses Taught<br>  
            <span class="stats"><%= @user.courses.count %></span>      
          </li>

          <li>
            Number of Courses Enrolled<br>
            <span class="stats"><%= @user.enrollments.count %></span>
          </li>
        </ul>
      </div>

      <div class="user-info-details">
        <h1><%= @user.name %></h1>
        <p><%= @user.introduction %></p>
      </div>  
    </div><!-- col-xs-12 col-sm-8 -->
  </div><!-- row -->

</div><!-- user-info -->

<div class="course-list">
  <h3 class="text-center">Classes taught by this instructor</h3>

  <br>
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial: 'courses/course', locals: { course: course } %>
      </div><!-- col-xs-12 col-sm-6 col-md-4 -->
    <% end %>
  </div>
</div>