var change_text = function(){
  $("#rating-form-container").html("<h2>Your ratings has been added!</h2>");
}

var add_rating = function(){
  var rating_html = '<div class="row"><div class="rating-box"><div class="col-xs-12 col-sm-4 text-center">'
                + "<%= image_tag @rating.user_photo, class: 'prof-pic-md img-circle' %>"
                + '<br><h6>' + "<%= @rating.user.name %>" + '</h6>'
                + "<%= Rating::STARS.key(@rating.stars) %>"
                + '</div><div class="col-xs-12 col-sm-8">'
                + "<%= link_to 'x'.html_safe, rating_path(@rating.id), 
                    method: :delete, class: 'pull-right', data: {confirm: 'Are you sure?'} %>"
                + '<p>' + "<%= @rating.comment %>" + '</p></div></div></div>'
  $("#ratings-container").append(rating_html);                
}


change_text();
add_rating();



