<%= link_to '<i class="fa fa-caret-left" aria-hidden="true"></i> Back to Course'.html_safe, course_path(@lesson.course) %>

<h1><%= @lesson.title %></h1>

<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="lesson-content">
      <%= sanitize @lesson.content %>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <ul class="lesson-sidebar nav nav-pills nav-stacked">
      <% @sections.each do |section| %>        
          <li><h4><%= section.title %></h4></li>
          
          <% section.lessons.each do |lesson| %>          
            <li><%= link_to lesson.title, course_lesson_path(course_id: section.course.id, id: lesson.id) %></li>        
          <% end %> 
        
      <% end %>
    </ul>
  </div>
</div>

<div class="lesson-nav">
  <div class="text-center">
    <div class="btn-group">
      <% if @lesson.previous %>
        <%= link_to 'Previous', course_lesson_path(@lesson.course, @lesson.previous), class: 'btn btn-sm btn-default' %>
      <% else %>
        <% if @lesson.section.previous %>
          <%= link_to 'Previous', course_lesson_path(@lesson.course, @lesson.section.previous.first_lesson), class: 'btn btn-sm btn-default' %>
        <% end %>
      <% end %>

      <% if @lesson.next %>
        <%= link_to 'Next', course_lesson_path(@lesson.course, @lesson.next), class: 'btn btn-sm btn-default' %>
      <% else %>
        <% if @lesson.section.next %>
          <%= link_to 'Next', course_lesson_path(@lesson.course, @lesson.section.next.first_lesson), class: 'btn btn-sm btn-default' %>
        <% end %>
      <% end %>
      
    </div><!-- btn-group -->
  </div><!-- text-center-->
  <hr>    

  <% if @lesson.section.next.nil? %>
    <p class="text-center">END OF SECTION</p>
  <% end %>
</div>