<h1 class="text-center"><%= @course.title %></h1>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <p><%= @course.description %></p>

    <hr>

    <h3 class="text-center">About the Instructor</h3>

    <div class="well">
      

      <div class="row">
        <div class="col-xs-12 col-md-3">
          <%= image_tag @instructor.photo, class: 'prof-pic' %>
          
          <%= link_to '<i class="fa fa-user" aria-hidden="true"></i> View Profile'.html_safe, user_path(@instructor), class: 'btn btn-primary btn-block' %>
        </div><!-- col-xs-12 col-md-3 -->

        <div class="col-xs-12 col-md-9">
          <h3><%= @instructor.name %></h3>

          <p>
            <%= @instructor.introduction %>
          </p>
        </div><!-- col-xs-12 col-md-9 -->
      </div><!-- row -->
      
        
    </div><!-- well -->

  </div>

  <div class="col-xs-12 col-md-4">
    <ul class="course-details"> 
      <li>
        <strong>Price</strong><br>
        <%= @course.price %>
      </li>

      <li>
        <strong>Start Time</strong><br>
        <%= display_datetime(@course.start_time) %>
      </li>

      <li>
        <strong>End Time</strong><br>
        <%= display_datetime(@course.end_time) %>
      </li>

      <li>
        <strong>Category</strong><br>
        <%= @course.category %>
      </li>

      <li>
        <strong>Location</strong><br>
        <%= @course.location %>
      </li>

      <li>
        <strong>Address</strong><br>
        <%= @course.address %>
      </li>

      <% if @course.user == current_user %>
        <li>
          <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Details'.html_safe, edit_instructor_course_path(@course), class: 'btn btn-default btn-sm' %>
        </li> 
      <% end %>

      <% if @enrollment %>
        <li>
          <%= link_to 'UNENROLL FROM COURSE', course_enrollment_path(course_id: @course.id, id: @enrollment.id), method: :delete, class: 'btn btn-danger' %>
        </li> 
      <% else %>      
        <li>
          <%= link_to 'ENROLL IN THIS COURSE', course_enrollments_path(@course.id), method: :post, class: 'btn btn-danger' %>
        </li> 
      <% end %>
    </ul>
  </div>
</div>
