<h1 class="text-center"><%= @course.title %></h1>

<div class="row">  
  <div class="col-xs-12 col-md-8">
    <% if @enrollment.present? || @instructor == current_user %>
      <%= link_to '<i class="fa fa-caret-right" aria-hidden="true"></i> Go to lessons'.html_safe, course_lessons_path(@course), class: 'btn btn-primary' %>
    <% end %>

    <p><%= simple_format @course.description %></p>

    <hr>

    <h3 class="text-center">About the Instructor</h3>

    <div class="instructor-box">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <%= image_tag @instructor.photo, class: 'prof-pic' %>
          
          <%= link_to '<i class="fa fa-user" aria-hidden="true"></i> View Profile'.html_safe, user_path(@instructor), class: 'btn btn-primary btn-block' %>
        </div><!-- col-xs-12 col-md-3 -->

        <div class="col-xs-12 col-md-9">
          <h3><%= @instructor.name %></h3>

          <p>
            <%= @instructor.introduction %>
          </p>
        </div><!-- col-xs-12 col-md-9 -->
      </div><!-- row -->
    </div><!-- instructor-box -->


    <section class="student-reviews">
      <h3 class="text-center">Student Reviews</h3>
      
        <div id="ratings-container">
          <% if @course.ratings.present? %>
            <%= render partial: "ratings", locals: {ratings: @course.ratings} %>
          <% else %>
            <h4 class="text-center">There are no reviews for this course yet!</h4>
          <% end %> 
        </div>
      
    </section><!-- student-reviews -->

  </div>

  <div class="col-xs-12 col-md-4">
    <ul class="course-details">       
      <li>
        <strong>Number of Enrolled Students</strong><br>
        <%= @course.enrollments_count %>
      </li>

      <li>
        <strong>Price</strong><br>
        <%= @course.price %>
      </li>

      <li>
        <strong>Start Time</strong><br>
        <%= @course.start %>
      </li>

      <li>
        <strong>End Time</strong><br>
        <%= @course.end %>
      </li>

      <li>
        <strong>Category</strong><br>
        <%= @course.category %>
      </li>

      <li>
        <strong>Location</strong><br>
        <%= @course.course_location %>
      </li>

      <li>
        <strong>Address</strong><br>
        <%= @course.course_address %>
      </li>

      <% if @instructor == current_user %>
        <li>
          <%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Details'.html_safe, edit_instructor_course_path(@course), class: 'btn btn-default btn-sm' %>
        </li> 
      <% end %>

      <% if @enrollment %>
        <li>
          <%= link_to 'UNENROLL FROM COURSE', course_enrollment_path(course_id: @course.id, id: @enrollment.id), method: :delete, class: 'btn btn-danger' %>
        </li> 
      <% elsif @instructor != current_user %>      
        <li>
          <%= link_to 'ENROLL IN THIS COURSE', course_enrollments_path(@course.id), method: :post, class: 'btn btn-danger' %>
        </li> 
      <% end %>

      <% unless current_user.ratings.where(course_id: @course.id).present? || @course.start_time <= DateTime.now %>

        <h3>RATE THIS COURSE</h3>

        <div id="rating-form-container">
          <%= simple_form_for Rating.new, url: course_ratings_path(@course), remote: true do |f| %>
            <%= f.input :stars, collection: Rating::STARS %>
            <%= f.input :comment %>
            <%= f.submit class: 'btn btn-primary', data: { disable_with: "Adding Rating..." } %>
          <% end %>
        </div>      

      <% end %>

    </ul>
  </div>
</div>
