<!DOCTYPE html>
<html>
<head>
  <title>Skill Academy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'shared/nav' %>

<div class="container">
  <div class="content">
    
    <% flash.each do |message_type, message| %>
      <% if message_type == "notice" %>
        <p class="alert alert-info alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %></p>
      <% elsif message_type == "alert" %>
        <p class="alert alert-danger alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= alert %></p>
      <% else %>
        <div class="alert alert-<%= message_type %> alert-dismissible text-center"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= message %></div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</div>

<%= render 'shared/footer' %>

</body>
</html>
